body{
background-color:coral; 
font-famliy:Times,"Times New Roman", san-serif; 
padding:0; 
margin:0;}

    .ml2 { 
font-weight: 900; font-size: 1.5em;} 

.ml2 .letter { 
display: inline-block; line-height: 1em; 
color:#D5AD6D;
background: -webkit-linear-gradient(transparent, transparent),
-webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
background: -o-linear-gradient(transparent, transparent);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.ml3{ 
font-weight: 1000; font-size: 1.5em; 
color:#D5AD6D;
background: -webkit-linear-gradient(transparent, transparent),
-webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
background: -o-linear-gradient(transparent, transparent);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
} 

.ml3 .letter { 
display: inline-block; line-height: 1em; 
color:#D5AD6D;
background: -webkit-linear-gradient(transparent, transparent),
-webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
background: -o-linear-gradient(transparent, transparent);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

body{
padding:0;
margin:0;
overflow:hidden;
background-color:white;
}

.parent{
display: flex;
justify-content: center;
align-items: center;
width:100%;
height:85%;
background-color:white;
}

.child{
vertical-align:middle;
text-align:center;
}

.currImage{
width:20%;
height:22%;
margin-left:auto;
margin-right:auto;
animation: shine 4s infinite;
border: solid 2.5px #D5AD6D;
border-radius:10px;
animation: borders 10s infinite;
}

@keyframes borders{ 
0%{border-color:coral;}
10%{border-color:chocolate;}
20%{border-color:#D5AD6D;}
40%{border-color:coral;}
60%{border-color:#D5AD6D;}
70%{border-color:gray;}
100%{border-color:#D5AD6D;}
 }

.ml4{font-weight: 1000; font-size: 0.5em; 
color:#D5AD6D;
}
