body{
background-color:coral; 
font-famliy:Times,"Times New Roman", san-serif; 
padding:0; 
margin:0;}

	.zaw{
			font-family:Zawgyi-One;
		}
		.uni{
			font-family:Myanmar3,Yunghkio,'Masterpiece Uni Sans';
		}

/* new */

.headerInnerRow{
display:flex;
width:100%; 
height:50px;
}

.headerColumnRight , .headerColumnLeft{
float:left;
width:50%; 
height:100%;  
}

.headerColumnRight{ 
background-color:red;}

.headerColumnLeft{ 
background-color:green;}




